{% extends "portal/base.html" %}
{% load static %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url "game1:homepage" %}">Play</a>
    </li>
    {% if request.user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "logout" %}?next=/">Sign out</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "django_registration_register" %}">New player</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "login" %}">Sign in</a>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="text-center mb-4">
    <h1>Welcome to stinky games{% if request.user.is_authenticated %}, {{ request.user }}{% endif %}!</h1>
    <img class="image" width=320 src="{% static "img/art/stinky-cheese.png" %}" title="Stinky games" alt="Stinky games" />
    <h3>Soon, you too shall stink :) </h3>
</div>

<div class="text-center">
    <a href="{% url "game1:homepage" %}" class="btn btn-lg btn-info">Play Stinkies</a>
</div>
{% endblock %}
